<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<link href="{{ static_path.css }}/base.css" type="text/css" rel="stylesheet">
	{% block css %}{% endblock css%}
	<title>{% block title %}{{APP_TITLE}}{% endblock title%}</title>

	<meta charset="utf-8"/>
</head>

<body>

	호니비 이쁘다.<p>
	scipihomepage 폴더 빼놨으니까 거기서 templates 폴더 안에 있는 base.html (지금 이 파일)을 수정하면 되.<p>
	공부는 http://opentutorials.org/course/1 랑 https://www.udacity.com/course/cs253 에서 하는 걸 추천.<p>
	호니미워<p>
	I hate you<br>
	Fuck you <p>


	Hello world
	<a href="http://www.google.com" 
	target="_blank">google</a>

	<img src="https://www.google.se/images/srpr/logo11w.png "/>
	<img src="http://img.naver.net/static/www/u/2013/0731/nmms_224940510.gif"/>

	<iframe src="http://www.roseindia.net/" name="Bharat" >
	</iframe><br>

	<iframe src="http://www.roseindia.net/" name="Bharat" >
	</iframe><br>

	<ol>
		<li>html</li>
		<li>css</li>
		<li>javascript</li>
		<li>mom</li>

	</ol>

	<ul>
		<li>papa</li>
		<li>doughter</li>
	</ul>

	<h1>title1</h1>
	<h2>Title2</h2>
	<h3>title3</h3>

	<article>
		<h2>what is Java?</h2>
		<h1>And</h1>
		<div>slfjsdghkdlshgklsdjh</div>
	</article>



	<h2>히히</h2>
</body>
</html>

